.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
  border-radius: 4px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.row {
  padding: 8px 8px;
  display: flex;
  align-items: center;
}

.label {
  padding-left: 4px;
}

.error {
  color: red;
  margin-top: 2rem;
  min-height: 50px;
  min-width: 50px;
}

.radio {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 1px solid black;
  border-radius: 8px;
  padding: 4px 4px;
  margin-bottom: 16px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  height: 600px;
  width: 80%;
  border-radius: 4px;
}